@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;

}


body {
    background-color: black;

}

.main {
    background-image: url(assets/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 100vh;
    position: relative;
}

.main .box {
    height: 100vh;
    background-color: black;
    width: 100%;
    opacity: 0.7;
    position: absolute;
    top: 0;
}


nav {
    display: flex;
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 90px;

}


nav img {
    width: 134px;
    position: relative;
    z-index: 10;
}


nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: large;
    position: relative;
    gap: 18px;
    padding: 0 23px;
}

.hero> :nth-child(1) {
    font-weight: 800;
    font-size: 42px;
    text-align: center;

}

.hero> :nth-child(2) {
    font-weight: 300;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 300;
    font-size: 19px;
    text-align: center;
}

.sepration {
    height: 7px;
    background-color: rgb(46, 44, 44);
}

.btn {
    padding: 3px 8px;
    background-color: rgba(255, 255, 255, 0.021);
    font-weight: 400;
    color: white;
    border-radius: 4px;
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;

}

.btn-red-sm {
    background-color: red;
    color: white;
}

.main input {
    padding: 7px 101px 8px 14px;

    font-size: 12px;
    color: white;
    border-radius: 4px;
    background-color: rgba(46, 44, 44, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.5);
}


.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 80vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;


}


.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0px;
}

.first>div :nth-child(1) {
    font-size: 46px;
    font-weight: bolder;
}

.first>div :nth-child(2) {
    font-size: 18px;

}

.secimg {
    position: relative;

}

.secimg img {
    width: 555px;
    position: relative;
    z-index: 10;

}

.secimg video {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}


.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    background-color: black;
    color: white;
    padding: 34px;
}

.faqbox:hover {
    background-color: #414141;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    margin-bottom: -25px;
    cursor: pointer;
}

footer {
    color: white;
    max-width: 70vw;
    margin: auto;
    padding: 14px;
    margin-bottom: 30px;

}

@media screen and (max-width: 1300px) {
    nav {
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secimg img {
        width: 350px;

    }

    .secimg video {
        width: 80%;
    }

    .hero>:nth-child(1) {
        font-size: 33px;
    }

    .hero>:nth-child(2) {
        font-size: 18px;
    }

    .hero>:nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    .main input {
        padding: 7px 101px 8px 14px;
        font-size: 12px;
    }

    .hero {
        padding: 0 23px;
    }

    .faq h2 {
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
    }

    .first>div :nth-child(1) {
        font-size: 35px;
        text-align: center;
    }

    .first>div :nth-child(2) {
        font-size: 15px;
        padding: 25px 0px;
        text-align: center;
    }

    nav img {
        width: 100px;
    }

}


footer .q {
    font-size: 17px;
    padding: 34px 0px;

}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

@media screen and (max-width: 1300px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }

}

.footer a {
    font-size: 12px;
    color: white;
}

.footeritem {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.last {
    margin-bottom: 0;
}

.btn-red-sm,
.btn-red {
    border: none !important;
}

.language {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;

}

button img {
    width: 20px;
    padding: 0px 10px;
}

.arrow {
    width: 10px;
}

nav>div {
    display: flex;
    gap: 8px;
    align-items: center;
}