*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
body{
     background-image: url(assets/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 100vh;
    position: relative;
    background-color: #181818;
    
}
header{
    max-width: 100%;
    padding:24px 48px;
    background-color: transparent;
    
}
.logo{
    background-color: transparent;
    margin: 0px 126.6px;
    filter: brightness(400%);
}
.container{
    background-color:rgba(24,24,24,0.94);
    width: 28rem;
    height: 42rem;
    margin: auto;
    padding: 44px 62px;
    border-radius: 10px;

}
form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color:transparent;
}
input[type="text"],[type="password"],[type="button"]{
    background-color: transparent;
}
input[type="text"]{
    width: 100%;
    padding:18px;
    border: 1px solid rgb(139, 139, 139);
    font-size: 1rem;
}
input[type="submit"]{
    width: 100%;
    padding:10px 25px;
    font-size: 16px;
    font-weight: 500;
}
.container .head{
    color: #ffffff;
    font-size:32px;
    font-weight: 700;
    margin-bottom: 28px;
}
.input_group{
    position: relative;
}
.input_group label{
    position: absolute;
    top: 50%;
    left:18px;
    pointer-events: none;
    transform: translateY(-50%);
    transform: all 0.3s ease;
}
.input_group input:is(:focus,:valid) ~ label{
    transform: translateY(-130%);
    font-size: 14px;
}
.pass{
    position: relative;
}
.pass label{
    position: absolute;
    top: 50%;
    left:18px;
    pointer-events: none;
    transform: translateY(-50%);
    transform: all 0.3s ease-in;
}
.pass input:is(:focus,:valid) ~ label{
    transform: translateY(-130%);
    font-size: 12px;
}
.signin_btn input{
    background-color:rgb(255, 0, 0);
    font-size:1rem;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.signin_btn input:hover{
    background-color: rgb(229,0,20);
}
span{
    color: silver;
}
.code_btn input{
    background-color:rgba(105, 103, 103, 0.49);
    outline: none;
}
a{
    text-decoration: none;
}
.forgot:hover{
    text-decoration: underline;
    color: lightgray;
}
input[type="checkbox"]{
    zoom:1.5;
    margin-right: 10px;
}
.signup{
    font-weight: 600;
}
.signup:hover{
    text-decoration: underline;
}
label{
    color: rgb(184, 184, 184);
}
.desc{
    color: rgb(184, 184, 184);
}

    footer {
        max-width: 90vw;
    }

    .first>div :nth-child(1) {
        font-size: 35px;
        text-align: center;
    }

    .first>div :nth-child(2) {
        font-size: 15px;
        padding: 25px 0px;
        text-align: center;
    }

    nav img {
        width: 100px;
    }


footer .q {
    font-size: 17px;
    padding: 34px 0px;

}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

@media screen and (max-width: 1300px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }

}

.footer a {
    font-size: 12px;
    color: white;
}

.footeritem {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.last {
    margin-bottom: 0;
}

.btn-red-sm,
.btn-red {
    border: none !important;
}

.language {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;

}

button img {
    width: 20px;
    padding: 0px 10px;
}

.arrow {
    width: 10px;
}

nav>div {
    display: flex;
    gap: 8px;
    align-items: center;
}