/* mandala-murders.css */

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    color: #fff;
    background-color: #000;
}

.movie-container {
    background: url('assets/166-mandala-murders.jpg') no-repeat center center/cover;
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 40px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3));
    z-index: 1;
}

.content {
    z-index: 2;
    max-width: 800px;
}

.title {
    font-size: 4rem;
    margin-bottom: 10px;
    color: #e50914;
}

.tagline {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 20px;
    color: #ccc;
}

.description {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #eee;
}

.trailer iframe {
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(229, 9, 20, 0.5);
}
.trailer-btn{
    text-decoration: none;
    color: #eee;
}
